<div class="list-group">
{{#each this}}
  	{{#if soldout}}
	<div class="list-group-item disabled">
		<div class="pull-left text-center" style="width: 80px; margin-right: 10px;">
			<span class="soldout text-danger"><span class="kor">판매종료</span><span class="eng hidden">SOLD OUT</span></span>
		</div>
		<del>
			<span class="title_kor">{{title_kor}}</span>
			<span class="title_eng hidden">{{title_eng}}</span>
		</del>
		<span class="corner badge pull-right">{{corner}}</span>
	</div>
	{{else}}
	<div class="list-group-item collapse-boundary food" data-food-id="{{id}}">
		<div class="media collapse-trigger">
			<div class="media-left">
				<img class="media-object" src="{{img_src}}" style="width:60px;">
			</div>
		  <div class="media-body">
		    <h4 class="media-heading">
		    	<span class="title_kor">{{title_kor}}</span>
		    	<span class="title_eng hidden">{{title_eng}}</span>
		    	<span class="corner badge pull-right">{{corner}}</span>
		    </h4>
		    <div class="pull-left">
			    <span class="kcal">{{kcal}} kcal</span>
			    {{#if very_high_cal}}<span class="label label-danger"><span class="kor">초고칼로리</span><span class="eng hidden">Very High Calorie</span></span>{{/if}}
			    {{#if high_cal}}<span class="label label-warning"><span class="kor">고칼로리</span><span class="eng hidden">High Calorie</span></span>{{/if}}
			    {{#if low_cal}}<span class="label label-info"><span class="kor">저칼로리</span><span class="eng hidden">Low Calorie</span></span>{{/if}}
			    {{#if very_low_cal}}<span class="label label-success"><span class="kor">초저칼로리</span><span class="eng hidden">Very Low Calorie</span></span>{{/if}}
		    </div>
		    <div class="pull-right payments">
		    	<span class="eng hidden">&#8361;</span> {{payments}} <span class="kor">원</span>
		    </div>
		  </div>
		</div>
		<div class="collapse">
			<div class="collapse-trigger">
				<img class="media-object" src="{{img_src}}" style="width:100%;">
			</div>
		</div>
	</div>
	{{/if}}
{{else}}
    <div class="list-group-item">
        <span class="kor">지금은 영업하지 않습니다.</span><span class="eng hidden">We're closed now</span>
    </div>
{{/each}}
</div>
